parameters:
    level: max
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    paths:
        - src/
        - tests/
    excludePaths:
        - wiki/*
        - tests/Support/
        - .php-cs-fixer.php
    bootstrapFiles:
        - build/constants.php
    ignoreErrors:
        - '#.*extends @final class.*#'
