parameters:
    level: 5
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    paths:
        - src
        - tests
    excludePaths:
        - wiki/*
        - tests/_*
        - tests/Support/_generated
    bootstrapFiles:
        - build/constants.php
    ignoreErrors:
        - '#.*extends @final class.*#'
