parameters:
    level: 7
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    paths:
        - src/
        - tests/
    excludePaths:
        - wiki/*
        - tests/Support/
    bootstrapFiles:
        - build/constants.php
    ignoreErrors:
        - '#.*extends @final class.*#'
        - identifier: missingType.iterableValue
          paths:
            - src/Serializer/*
        - identifier: missingType.generics
          paths:
            - src/Serializer/*
