on: [ push, pull_request ]
name: Codecov

jobs:
    codeception-tests-coverage:
        name: "Codecov and Codacy coverage run"
        runs-on: "ubuntu-latest"
        continue-on-error: ${{ matrix.allow-fail }}
        strategy:
            matrix:
                include:
                    - { php-version: 8.3, dependencies: locked, coverage: xdebug, with_coverage: true, allow-fail: false }

        steps:
            -   name: "Checkout"
                uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2

            -   name: "Install PHP"
                uses: "shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1" # v2
                with:
                    coverage: "${{ matrix.coverage }}"
                    ini-values: display_errors=On, display_startup_errors=On, error_reporting=32767
                    php-version: "${{ matrix.php-version }}"

            -   name: "Set up problem matchers for PHP"
                run: "echo \"::add-matcher::${{ runner.tool_cache }}/php.json\""

            -   name: "Set up problem matchers for phpunit/phpunit"
                run: "echo \"::add-matcher::${{ runner.tool_cache }}/phpunit.json\""

            -   name: "Validate composer.json and composer.lock"
                run: "composer validate --ansi --strict"

            -   name: "Determine composer cache directory"
                uses: "ergebnis/.github/actions/composer/determine-cache-directory@4103ff7c010d2c18dc84f72d6704227868412482" # 1.10.0

            -   name: "Cache dependencies installed with composer"
                uses: "actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7" # v5.0.2
                with:
                    path: "${{ env.COMPOSER_CACHE_DIR }}"
                    key: "php-${{ matrix.php-version }}-composer-${{ matrix.dependencies }}-${{ hashFiles('composer.lock') }}"
                    restore-keys: "php-${{ matrix.php-version }}-composer-${{ matrix.dependencies }}-"

            -   name: "Install ${{ matrix.dependencies }} dependencies with composer"
                uses: "ergebnis/.github/actions/composer/install@4103ff7c010d2c18dc84f72d6704227868412482" # 1.10.0
                with:
                    dependencies: "${{ matrix.dependencies }}"

            -   name: "Run Codeception with coverage"
                run: |
                    vendor/bin/codecept run -c . -vvv --coverage --coverage-xml=clover.xml --xml
                    
            -   name: "Upload Coverage coverage"
                run: |
                    export CODACY_PROJECT_TOKEN=${{ secrets.CODACY_PROJECT_TOKEN }}
                    bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r ./build/logs/clover.xml

            -   name: Upload test results to Codecov
                if: ${{ !cancelled() }}
                uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1
                with:
                    files: ./build/logs/report.xml
                    token: ${{ secrets.CODECOV_TOKEN }}

            -   name: Upload coverage to Codecov
                uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
                with:
                    token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
                    files: ./build/logs/clover.xml
                    flags: unittests # optional
                    fail_ci_if_error: "${{ matrix.with_coverage }}" # optional (default = false)
                    verbose: false # optional (default = false)
